{% extends 'base.html.twig' %}

{% block title %}Catégorie #{{ category.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0">{{ category.name }}</h1>
			<p>Catégorie :
				{{ category.name }}</p>
			{% for program in programs %}
				<div>
					<h2>{{ loop.index }}
						/
						{{ program.title }}
					</div>
					<p>{{ program.summary }}</p>
					{# Lien vers la fiche de la série : #}
					<a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
				</div>
			{% else %}
				Aucune série trouvée.
			{% endfor %}
		</div>
	</div>

	<a href="{{ path('category_index') }}">
		Retour à la liste de toutes les catégories
	</a>
{% endblock %}
