{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="media">
			<div class="row">
				<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
				<div class="media-body">
					<h1 class="mt-0">{{ program.title }}</h1>
					<p>{{ program.summary }}</p>
					<p>Catégorie :
						{{ program.category.name }}</p>
				</div>
			</div>
			<div class="row">
				{% for season in seasons %}
					<div>
						<h2>{{ loop.index }}
							/
							{{ season.number }}
						</div>
						<p>{{ season.year }}</p>
						{# Lien vers la fiche de la saison : #}
						<a href="/program/{{ program.id }}/season/{{ season.id }}">Voir la fiche</a>
					</div>
				{% else %}
					Aucune saison trouvée.
				{% endfor %}
			</div>
			<div class="row">
				<strong>Acteurs :</strong>
				<ul>
					{% for actor in program.actors %}
						<li>{{ actor.firstname }}
							{{ actor.lastname }}
						</li>
					{% else %}
						<li>Aucun acteur pour cette série</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<a href="{{ path('program_index') }}">
			Retour à la liste des programmes
		</a>
	</div>
{% endblock %}
