{% extends 'base.html.twig' %}

{% block title %}All actors
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Tous les acteurs :
		</h1>
		{% for actor in actors %}
			<div>
				<h2>{{ loop.index }}
					/
					{{ actor.firstname }} {{ actor.lastname }}</h2>
				{# Lien vers la fiche catégorie : #}
				<a href="{{ path("actor_show", { id: actor.id}) }}">Voir la fiche de l'acteur</a>
			</div>
		{% else %}
			Aucun acteur trouvé.
		{% endfor %}
		<a href="{{ path('app_index') }}">
			Retour à l'accueil
		</a>
	</div>
{% endblock %}
