<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img class="iconeDuSite" src="/build/images/film-roll.png"/></a>
		<a class="navbar-brand" href="/">Wild Séries</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catégories
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{{ render(controller('App\\Controller\\HomeController::navbarTopCategory')) }}
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/category/">Liste de toutes les catégories</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Acteurs
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{{ render(controller('App\\Controller\\HomeController::navbarTopActor')) }}
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="/actor/">Liste des acteurs</a>
						</li>
					</ul>
				</li>
			</ul>
			<div>
				{% if app.user %}
					{% trans with {'%username%': app.user.email} %}
					hello_username
					{% endtrans %}
					!
					<a href="{{ path('app_logout') }}">
						<button class="btn btn-outline-success me-2" type="button">
							{{ 'account.logout'|trans }}</button>
					</a>
				{% else %}
					<a href="{{ path('app_login') }}">
						<button class="btn btn-outline-success me-2" type="button">
							{{ 'account.login'|trans }}</button>
					</a>
				{% endif %}
			</div>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
			<div class="" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Fr
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li>En</li>
							<li>Fr</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
